body {
  background-color: #191724;
  color: #e0def4;
  font-family: Pier Sans,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji"
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1f1d2e;
}

li {
  float: left;
}

li a {
  display: block;
  color: #e0def4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #403d52;
  color: #c4a7e7;
  margin: -2px 0px 2px 0px;
}

h1 {
  height: 35px;
  width: 100%;
}

textarea {
  background-color: #1f1d2e;
  resize: none;
  overflow: scroll;
  margin: 2em;
  color: #e0def4;
  padding: 0.7em;
  border: solid;
  border-radius: 1em;
  border-color: #c4a7e7;
}

hr {
  color: #908caa;
}


dt {
  font-size: 20px;
}

a {
  text-decoration: none;
}

.Gen {
  color: #eb6f92; 
}

.Ins {
  color: #f6c177;
}

.Acc {
  color: #31748f; 
}

.Loc {
  color: #9ccfd8;
}

.Nom {
  color: #ebbcba;
}

.Dat {
  color: #c4a7e7;
}

.row {
  display: flex;
}

.word_area {
  margin: 4em;
  flex: 70%;
}

.specific_word {
  background-color: #26233a;
  border-radius: 8px;
  margin: 1em 0.3em;
  padding: 0.6em 3em;
  text-align: center;
  font-size: 18px;
}

.specific_word a {
  text-decoration: none;
}
.specific_word a:hover {
  text-decoration: underline;
}

#the_word {
  padding: 0;
  font-size: 45px;
}

#the_word_lemma {
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: #908caa;
}

#stress_pattern {
  color: #eb6f92;
}

#dict_link {
  color: #c4a7e7;
}

#forvo_link {
  color: #9ccfd8;
}

#wiktionary_link {
  color: #31748f;
}

.word {
  cursor: pointer;
}

.word:hover { 
  background-color: #524f67;
}

.container {
  text-align: center;
}

.button {
  background-color: #26233a;
  border-radius: 1.4em;
  border-width: thin;
  font-size: 15px;
  border: solid;
  width: 15em;
  height: 4.2em;
  color: inherit;
  border-color: #eb6f92;
}

.button:hover {
  background-color: #403d52;
  border-width: thick;
}

.resources {
  text-align: center;
}

.resources li {
  float: none;
}
