{% extends "base.html" %}
{% block title %}Lithuanian reader{% endblock %}
{% block content %}
<div class="row">
<div class="word_area">
    {% for text, ending, lemma, case, gender, number, declension_pattern, verb_vals, raw_lemma in words %}
    {% if text.startswith("\r\n") %}
    <br>
    {% else %}
    {% if case %}
    <p1 class="word" lemma={{lemma}} case={{case[0]}} number={{number[0]}} gender={{gender[0]}} morphed_word={{text}}{{ending}} declension_pattern={{declension_pattern}} raw_lemma={{raw_lemma}}>{{text}}<span class={{case[0]}}>{{ending}}</span></p1>
    {% else %}
    <p1 class="word" lemma={{lemma}} verb_values="{{verb_vals}}" morphed_word={{text}} raw_lemma={{raw_lemma}}>{{text}}</p1>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
  <div class="specific_word">
    <h1 id="the_word"></h1>
    <h2 id="the_word_lemma"></h2>
    <p id="case_morphology"><a id="case" class="Ins" href="instrumental"></a></p>
    <p id="verb_vals"></p>
    <hr id="solid">
    <p id="gender"></>
    <p id="declension_pattern"></>
    <hr id="solid">
    <p><a id="wiktionary_link" href="https://en.wiktionary.org/wiki/kalnas#Lithuanian"></a></p>
    <p><a id="forvo_link" href="https://forvo.com/search/kalnas/lt/"></a></p>
    <p><a id="dict_link" href="http://www.lietuviu-anglu.com/kalnas/"></a></p>
  </div>
</div>
    <script src="{{url_for('static', filename='answerdetails.js')}}"></script>
{% endblock %}
